html, body {
    height: 100%;
    margin: 0; /* remove default spacing */
    padding: 0;
}

#container{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: yellow;
}

#l{
    background-color:#EFEFEF;
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    flex-shrink: 0;
    align-items: center; 
}
.blank{
    background-color: #EFEFEF;
    width:100%
}
.blank-1{
    flex-grow: 1;
}
.blank-05{
    flex-grow: 0.5;
}
.photo {
    flex-grow: 1;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: yellow;
    max-width: 200px; /* Optional to prevent too large */
  }
.photo > img{
    width:100%;
    height:100%;
    display: block;
    object-fit: cover;
    
}
.name{
    flex-grow: 0.5;
    background-color: #EFEFEF;
    width:100%;
    flex-basis:0;
}
p{
    margin: 0;
    text-align: center;
    font-size: x-large;
}
.list{
    background-color: #EFEFEF;
    flex-grow: 6;
    width: 100%;
}

#r{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.blank-r1{
    background-color: #205375;
    flex-grow:0.5
}
.blank-r2{
    background-color: #205375;
    flex-grow:0.25
}
#r1{
    background-color: #205375;
    flex-grow: 0.1;
    display: flex;
}

#r2{
    background-color: #112B3C;
    flex-grow: 4;
    overflow-y: auto; /* Scroll if content is tall */
    max-height: 100%; /* Prevent it from growing outside */
    padding: 1rem;
}
a{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
}
.list > ul{
    align-items: center;
    margin-left: 25%;
}


#r1 #button-container button{
    flex-grow: 0.5;                  /* 🔑 Each button takes equal width */
    margin: 0px 10px;                /* Optional: spacing between buttons */
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #205375;
    border-radius: 5px;
    color: #EFEFEF;
  }

#r1 #button-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}
  
#r1 #button-container button:hover {
    background-color: #112B3C;
    color: #EFEFEF;
}

